USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 8/18/2025 10:49:25 PM ******/
CREATE DATABASE [Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cinema_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
/****** Object:  User [cinema]    Script Date: 8/18/2025 10:49:25 PM ******/
CREATE USER [cinema] FOR LOGIN [cinema] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CastedFor]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CastedFor](
	[MovieID] [int] NOT NULL,
	[ActorID] [int] NOT NULL,
	[RolePlayed] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC,
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_genre_name] UNIQUE NONCLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberNationality]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberNationality](
	[NationalityID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC,
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieLanguage] [varchar](100) NULL,
	[DateOfRelease] [date] NULL,
	[MovieTitle] [nvarchar](150) NOT NULL,
	[MovieDescription] [nvarchar](600) NULL,
	[Duration] [int] NOT NULL,
	[PosterURL] [nvarchar](255) NULL,
	[TrailerURL] [nvarchar](255) NULL,
	[AdminID] [nvarchar](50) NOT NULL,
	[DirectorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCrew]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCrew](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[PhotoURL] [nvarchar](255) NULL,
	[Biography] [nvarchar](1000) NULL,
	[MemberType] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[GenreID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationality](
	[NationalityID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ScreeningID] [int] NOT NULL,
	[TicketID] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[HallID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScreeningID] ASC,
	[TicketID] ASC,
	[SeatNumber] ASC,
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ab4p7u9pkuau4xwpcei2uefg8] UNIQUE NONCLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_fgx25trhipmdc3fqgapfsal1s] UNIQUE NONCLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screening]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screening](
	[ScreeningID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[TicketPrice] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScreeningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatNumber] [int] NOT NULL,
	[HallID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatNumber] ASC,
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[BookTime] [date] NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[TicketPrice] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[ScreeningID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/18/2025 10:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[UserType] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_user_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CastedFor]  WITH CHECK ADD  CONSTRAINT [fk_cast_actor] FOREIGN KEY([ActorID])
REFERENCES [dbo].[MovieCrew] ([MemberID])
GO
ALTER TABLE [dbo].[CastedFor] CHECK CONSTRAINT [fk_cast_actor]
GO
ALTER TABLE [dbo].[CastedFor]  WITH CHECK ADD  CONSTRAINT [fk_cast_movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CastedFor] CHECK CONSTRAINT [fk_cast_movie]
GO
ALTER TABLE [dbo].[MemberNationality]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[MovieCrew] ([MemberID])
GO
ALTER TABLE [dbo].[MemberNationality]  WITH CHECK ADD FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Nationality] ([NationalityID])
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [fk_admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[User] ([PhoneNumber])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [fk_admin]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [fk_director] FOREIGN KEY([DirectorID])
REFERENCES [dbo].[MovieCrew] ([MemberID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [fk_director]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [fk_moviegenre_genre] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [fk_moviegenre_genre]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [fk_moviegenre_movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [fk_moviegenre_movie]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [fk_reservation_screening] FOREIGN KEY([ScreeningID])
REFERENCES [dbo].[Screening] ([ScreeningID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [fk_reservation_screening]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [fk_reservation_seat] FOREIGN KEY([SeatNumber], [HallID])
REFERENCES [dbo].[Seat] ([SeatNumber], [HallID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [fk_reservation_seat]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [fk_reservation_ticket] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [fk_reservation_ticket]
GO
ALTER TABLE [dbo].[Screening]  WITH CHECK ADD  CONSTRAINT [fk_screening_hall] FOREIGN KEY([HallID])
REFERENCES [dbo].[Hall] ([HallID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Screening] CHECK CONSTRAINT [fk_screening_hall]
GO
ALTER TABLE [dbo].[Screening]  WITH CHECK ADD  CONSTRAINT [fk_screening_movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screening] CHECK CONSTRAINT [fk_screening_movie]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [fk_seat_hall] FOREIGN KEY([HallID])
REFERENCES [dbo].[Hall] ([HallID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [fk_seat_hall]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [fk_ticket_customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[User] ([PhoneNumber])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [fk_ticket_customer]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [fk_ticket_hall] FOREIGN KEY([HallID])
REFERENCES [dbo].[Hall] ([HallID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [fk_ticket_hall]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [fk_ticket_screening] FOREIGN KEY([ScreeningID])
REFERENCES [dbo].[Screening] ([ScreeningID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [fk_ticket_screening]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [fk_ticket_seat] FOREIGN KEY([SeatNumber], [HallID])
REFERENCES [dbo].[Seat] ([SeatNumber], [HallID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [fk_ticket_seat]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([Duration]>(0)))
GO
ALTER TABLE [dbo].[MovieCrew]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male' OR [Gender] IS NULL))
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD CHECK  (([TicketPrice]>(0)))
GO
USE [master]
GO

-- INSERT Dummy Data
USE [Cinema];
GO

INSERT INTO [dbo].[User] (PhoneNumber, Email, PasswordHash, FullName, UserType)
VALUES
    ('01110000001', 'alice@example.com', '$2a$10$5Bo0Trv2RJZSEKsId82tkO2oiR.uAGPoTUWGFQS4u/bsBaTimDY8C', 'Alice Johnson', 'Customer'),
    ('01110000002', 'bob@example.com', '$2a$10$uoPAGhU3OW6sCO.jBhQ2M.dLjhlL2o4koa7pB1BNvtx/kIUq00w6G', 'Bob Smith', 'Admin');

