<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost;databaseName=Cinema;user=sa;password=sa;trustServerCertificate=true</property>

        <!-- JDBC connection pool -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Automatically Validate schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity mappings -->
        <mapping class="org.example.cinema_ticket_booking_system.Movie"/>
        <mapping class="org.example.cinema_ticket_booking_system.MovieCrew"/>
        <mapping class="org.example.cinema_ticket_booking_system.Screening"/>
        <mapping class="org.example.cinema_ticket_booking_system.Hall"/>
        <mapping class="org.example.cinema_ticket_booking_system.Reservation"/>
        <mapping class="org.example.cinema_ticket_booking_system.Seat"/>
        <mapping class="org.example.cinema_ticket_booking_system.Ticket"/>
        <mapping class="org.example.cinema_ticket_booking_system.User"/>
        <mapping class="org.example.cinema_ticket_booking_system.Cast"/>
        <mapping class="org.example.cinema_ticket_booking_system.Genre"/>
        <mapping class="org.example.cinema_ticket_booking_system.MemberNationality"/>
        <mapping class="org.example.cinema_ticket_booking_system.MovieGenre"/>
        <mapping class="org.example.cinema_ticket_booking_system.Nationality"/>

    </session-factory>
</hibernate-configuration>
